.line {
  border-left: 1px;
  border-right: 1px;
  color: #ccc;
  /* height: 500px; */
}
table {
  border-collapse: collapse;
  width: 95%;
  margin: 30px 10px 10px 10px;
}
th,
td {
  border: 1px solid grey;
  padding: 8px;
  text-align: center;
}
.heading {
  font: bold;
}
